.env
.settings/
admin-service/.gitignore
admin-service/.project
admin-service/.settings/
auth-service/target/
gateway-service/.classpath
gateway-service/.gitignore
gateway-service/.project
gateway-service/.settings/
log/
servicediscovery/.classpath
servicediscovery/.project
servicediscovery/.settings/
servicediscovery/target/
spice-service/.classpath
spice-service/.project
spice-service/.settings/
spice-service/target/
user-service/.classpath
user-service/.gitignore
user-service/.project
user-service/.settings/
auth-service/.classpath
auth-service/.settings
auth-service/.classpath
