server:
   servlet:
      #contextPath: /user-service
      contextPath: /
   port: 8085

#DB Config
spring:
   application:
      name: user-service
   main:
      allow-bean-definition-overriding: true
      allow-circular-references: true
   datasource:
      driver-class-name: org.postgresql.Driver
      url: jdbc:postgresql://mypostgres:5432/spice?serverTimezone=UTC
      username : postgres
      password : root
   flyway:
      locations: classpath:db/migration
      url: jdbc:postgresql://mypostgres:5432/spice?serverTimezone=UTC
      user : postgres
      password : root
      baseline-on-migrate: true
      out-of-order: true
   jpa:
      show-sql: true
      properties:
         hibernate:
            dialect: org.hibernate.dialect.PostgreSQLDialect
            format_sql: true
            
springdoc:
  packagesToScan: com.mdtlabs.coreplatform.userservice

eureka:
   client:
      serviceUrl:
         defaultZone: http://servicediscovery:8761/eureka/

app:
   url: http://localhost
   mail-user: ${MAIL_USER:apikey}
   page-count: ${PAGE_COUNT:10}
   login-time-limit-in-hour: ${TIME_LIMIT_IN_HOUR:1}
   login-count-limit: ${LOGIN_COUNT_LIMIT:5}
   reset-password-count-limit: ${RESET_PASSWORD_COUNT_LIMIT:5}
   forget-password-count-limit: ${FORGET_PASSWORD_COUNT_LIMIT:5}
   email-app-url: ${EMAIL_APP_URL:http://3.7.123.198:3000/reset-password/}
   public-key: public_key.der
   private-key: private_key.der
   
spicelog: 
   fileName: './log/SpiceApplicationLog.log'
   fileNamePattern: './log/SpiceApplicationLog.%d{yyyy-MM-dd}.%i.log.gz'
   consolePattern: '%white(%d{ISO8601}) %highlight(%-5level) [%yellow(%t)] :  %msg%n%throwable'
   filePattern: '%-4relative [%thread] %-5level %logger{35} - %msg%n'
   maxHistory: 2
   totalSizeCap: 3GB
   maxFileSize: 10MB
